@model IEnumerable<InfoVM>

@section Style {
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />


}
@section Header {
    All Inforamtions
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">All Informations</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered" id="yourTableId" class="display" style="width:100%">
                <thead>
                    <tr>

                        <th>Name</th>
                        
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Name</td>
                           
                            <td>
                                <a asp-controller="Informations" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Informations" asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                                <a href="javascript:void(0)" data-id="@item.Id" class="btn btn-danger btn-sm delete-btn">Delete</a>

                            </td>

                        </tr>

                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>



    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });

        const elements = document.querySelectorAll(".delete-btn");
        elements.forEach(function (button) {
            button.addEventListener("click", async () => {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const id = button.dataset.id;

                        const response = await fetch(`/Dashboard/Informations/DeleteConfirm/${id}`, {

                            method: 'POST',
                            headers: {

                                "Content-Type": "application/json"

                            }
                        },

                        );

                        const data = await response.json();
                        console.log(response);
                        if (response.ok) {

                            $(button).closest("tr").remove();
                        }

                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        });
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                            title: "Cancelled",
                            text: "Your imaginary file is safe :)",
                            icon: "error"
                        });
                    }
                });




            })

        })

    </script>



}