@model DesignsFromVM

@section Header {
        Edit Content Of @Model.Name Design
}

<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Design</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Designs" asp-action="Edit" method="post">
            <div class="card-body">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control textarea" placeholder="Enter Description" />
                </div>

                <div class="form-group">
                    <label asp-for="IsDeleted"></label>
                    <input asp-for="IsDeleted" />
                    <span>@(Model.IsDeleted ? "Delete" : "Active")</span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedFlaticonId"></label>
                    <select asp-for="SelectedFlaticonId" class="form-control" asp-items="Model.FlaticonList">
                    </select>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a asp-action="Index" class="btn btn-primary">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    <script src="https://cdn.tiny.cloud/1/mu9ixsvggd9zw9yn47gmbp6yjtz6n237ile1t45zm1y1s3r2/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        tinymce.init({
            selector: '.textarea',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}
