<div class="container-fluid bg-secondary py-5">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-primary text-uppercase">Our Blog</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Home</a>
                    <i class="fas fa-angle-double-right text-primary mx-2"></i>
                    <a class="btn btn-outline-primary disabled" href="">Our Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light pt-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col text-center mb-4">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Our Blog</h6>
                <h1 class="mb-4">Read The Latest News & Articles From Our Blog</h1>
            </div>
        </div>
        <div class="row pb-3">
            @{
                var items = ((IEnumerable<Item>)ViewBag.items).Where(a => a.Blog != null).ToList();

                @foreach (var item in items)
            {
                <div class="col-md-4 mb-4">
                    <div class="card border-0 mb-2">
                        <img class="card-img-top" src="~/files/images/@item.ImageName" alt="">
                        <div class="card-body bg-white p-4">
                            <div class="d-flex align-items-center mb-3">
                                <a class="btn btn-primary" href="@Url.Action("InfoBlog", "Home", new { id = item.Id})"><i class="fa fa-link"></i></a>
                                <h5 class="m-0 ml-3 text-truncate">@item.Name</h5>
                            </div>
                                <p>@Html.Raw(item.Description)</p>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                                <small class="mr-3"><i class="fa fa-folder text-primary"></i> @item.Design.Name</small>

                            </div>
                        </div>
                    </div>
                </div>
            }
            }
        </div>
    </div>
</div>